[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group rhosqeauto-core
	read = group Anonymous Users
	read = group rhosqeauto-core
	push = deny group Registered Users
	pushMerge = deny group Registered Users
[access "refs/for/refs/*"]
	push = deny group Registered Users
	push = group rhosqeauto-contrib
	push = group rhosqeauto-core
	push = group rhosqeauto-stable
	rebase = group rhosqeauto-contrib
	rebase = group rhosqeauto-core
	rebase = group rhosqeauto-stable
[access "refs/heads/*"]
	read = group user/Oleh Anufriiev (temujin)
	create = group user/Oleh Anufriiev (temujin)
	push = +force group user/Oleh Anufriiev (temujin)
	pushMerge = group user/Oleh Anufriiev (temujin)
[access "refs/tags/*"]
	push = group user/Oleh Anufriiev (temujin)
	push = +force group user/Oleh Anufriiev (temujin)
